/*!
  * This file is part of the Record of processing activities project.
  * Its original location is https://github.com/Safran/RoPA
  * 
  * SPDX-License-Identifier: GPL-3.0-only
  */






$black: #000;
$white: #fff;
$dark-grey: #9b9b9b;
$grey: #B5B5B5;
$light-grey: #f1f1f1;
$green: #48D2A0;
$darker-green: darken($green, 15%);
$purple: #6E4573;
$darker-purple: darken($purple, 15%);
$red: #dc3545;
$darker-red: darken($red, 15%);
$lighter-red: lighten($red, 15%);

$main-color: #4C87C6;
$lighter-main-color: #55ACEE;
$darker-main-color: #365579;

$text-color: #34495E;
$comments-color: #666666;
$header-title-color: #525668;
$footer-color: #858585;


// FORMS
$ip-text-border-color: #34495E;

// Declarations
$pb-wrap-color: #E5E5E5;
