/*!
  * This file is part of the Record of processing activities project.
  * Its original location is https://github.com/Safran/RoPA
  * 
  * SPDX-License-Identifier: GPL-3.0-only
  */






$container-width: 1080px;
$small-container-width: 700px;

$small-content-space: 3.5rem;
$medium-content-space: 5rem;
$big-content-space: 8rem;

$break_layout_tablet: 1080px;
$break_layout_mobile: 700px;
