/*!
  * This file is part of the Record of processing activities project.
  * Its original location is https://github.com/Safran/RoPA
  * 
  * SPDX-License-Identifier: GPL-3.0-only
  */






.cloud {
  position: absolute;
}

.cloud-xs {
  width: 4rem;
}

.cloud-s {
  width: 5.6rem;
}

.cloud-m {
  width: 8rem;
}

.cloud-l {
  width: 14rem;
}
